{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <icon src="{% static 'Alast/img/2cock.png' %}" alt="иконка">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'Alast/css/style.css' %}">
</head>

<body>
    {% include 'Alast/header.html' %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>

</html>