{% load static %}
<header class="header">
    <div class="header__content" {% block active %}{% endblock %}>
        <div class="header__logo">
            <img src="{% static 'Alast/img/nikolay.svg' %}" alt="" class="header__logo-img">
        </div>
        <div class="header__menu">
            <a href="{% url 'url_home' %}">Главная</a>
            <a href="{% url 'url_news' %}">Новости</a>
            <a href="{% url 'url_offer' %}">Предложения</a>
            <a href="ya.ru">Контакты</a>
        </div>
        <button> Послать письмо </button>
        <a href="" class="feedback">Обратная связь</a>
    </div>
</header>