{% extends 'Alast/base.html' %}

{% block title %}
   Новости
{% endblock %}

{% block content %}
<section>
    <h1>Новостная страница</h1>
    <p>В разработке</p>
    <h2><textarea>Путин и Зеленский встречаются. Путин спрашивает Зеленского: "Как тебе удалось так быстро стать президентом?" Зеленский отвечает: "А вы попробуйте снять комедийное шоу, которое будет транслироваться по всей стране!"
    </textarea>
        <textarea>Путин и Зеленский играют в шахматы. Путин делает ход, Зеленский думает и говорит: "Извините, Владимир Владимирович, я не знаю правила игры." Путин отвечает: "Не беда, я и без правил всегда побеждаю."
        </textarea><p></p>
    <textarea>
        Зеленский спрашивает Путина: "Почему вы всегда так серьезны?" Путин отвечает: "Когда у тебя столько анекдотов про тебя, тяжело не быть серьезным."</textarea></h2>
</section>
{% endblock %}