{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form action="{% url 'url-reg' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="введите имя">
        <input type="text" name="email" placeholder="введите почту">
        <input type="text" name="login" placeholder="введите логин">
        <input type="password" name="password" placeholder="введите пароль">
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>