{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Запрос</title>
</head>
<body>
    <input type="number" id="gen_length" placeholder="Введите длину пароля">
    <input type="number" id="gen_amount" placeholder="Введите количество паролей">
    <button class="send-btn">Сгенерировать пароль</button>
    <div class="passwords" id="passwords">

        <form method="post" id="form_generate_email">
        {% csrf_token %}
        <input type="number" name = "len" placeholder="Сколько сгенерировать emails?" required>
        <button>Сгенерировать</button>
        </form>
        
        <p id="result"></p>
    </div>
    <div id="emails">

    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'appApi/js/point.js' %}"></script>
</body>
</html>