body,
html {
    background: #bad4ee;
    font-family: 'Montserrat';

}

header {
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
    background: #f0e3e3;
}

.header__content {
    display: flex;
    margin: 0 auto;
    width: 100vw;
    height: 5.556vw;
    justify-content: space-between;
    align-items: center;
}

.header__content-logo {
    height: 2.494vw;
}

.header__content-menu a {
    color: #062840;
    text-align: center;
    font-size: 0.972vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 2.083vw;
    text-decoration: none;
    padding: 0;
    font-stretch: expanded;
}

.header__content-menu a:last-of-type {
    margin-right: 0;
}

.header__content-menu a.active {
    color: #155f32;
    font-size: 16px;
}

.header__content-menu a svg {
    width: 0.347vw;
    height: 0.625vw;
}

.header__content-feedback svg {
    width: 2.431vw;
    height: 2.431vw;
    margin-right: 0.833vw;
    padding: 0;
}

.header__content-feedback svg:last-of-type {
    margin-right: 0;
}

.banner {
    background: url('../img/banner.png') no-repeat;
    background-size: cover;
    height: 34.722vw;
    width: 100%;
}

.banner__content {
    background: rgba(19, 19, 19, 0.60);
    width: 100%;
    height: 100%;
}

.banner__content p {
    display: flex;
    align-items: center;
    margin-left: 1.472vw;
    margin-right: 1.389vw;
    margin-top: 0.667vw;
    font-weight: 500;
    font-size: 2.133vw;
}

.banner__content h1 {
    color: #FFF;
    width: 55.625vw;
    font-size: 3.056vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 6.944vw 0 0 3.472vw;
}

.banner__content h1 span {
    color: #22A0D9;
}

.banner__content h6 {
    padding: 0.694vw 0 0 3.472vw;
    color: #FFF;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner__content p span {
    color: #f7fffd;
    font-weight: 600;
    font-size: 1.67vw;
    margin-left: 3.5vw;
    margin-top: 1.4vw;
}

.banner__content__feedback {
    background-color: rgb(104, 182, 207);
    margin-top: 6vw;
    margin-left: 6.667vw;
}
.nexo4et {
    margin-top: 4.667vw;
    border: #22A0D9;
    margin-left: 0.667vw;
    border-radius: 3.vw;
    color: #000;
    display: flex;
    align-items: center;
    gap: 1.333vw;
    font-size: 1.67vw;
    margin-left: -1.4vw;
    margin-top: -3.6vw;
}
.nexo4et .banner__content__feedback .svg {
    width: 0.67vw;
    height: 0.733vw;
}
