{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "csrf-token" content = "{{ csrf_token }}">
    <title>Document</title>
</head>
<body>
    {% for product in products %}
        {% if product.count > 0 %}
            <div class="card">
            <h1>{{product.title}}</h1>
                <h3>{{product.price}}</h3>
                <button id="addback" data-product-id="{{product.id}}">Добавить в корзину</button>
            </div>
        {% endif %}
    {% endfor %}
    <h1>{{products}}</h1>
    <div class="back">
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="janr" placeholder="Жанр">
        <input type="text" name="title" placeholder="Название">
        <input type="text" name="price" placeholder="Цена">
        <button>Отправить</button>
    </form>
    <form action="{% url 'urlMethodAjaxPost' %}" method="post" id="formAjax">
    {% csrf_token %}
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button id="sendajax">Отправить</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'appShop/js/script.js' %}"></script>
</body>
</html>