{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="{%  static '/images/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appKey/css/style/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <section class="search">
        {% csrf_token %}
        <input type="text" placeholder="Поиск по сайту" class="search-input">
        <ul>
            <li>
                <a href="">zaglushka</a>
            </li>
        </ul>
    </section>
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'appKey/js/script.js' %}"></script>
</body>
</html>
