{% extends 'appPages/base.html' %}

{% block title %}Главная страница{% endblock %}
{% block content %}
{% include 'appPages/banner.html' %}
<section class="container">
   <h1 class="container-title">ОБО
      <span style="color: blue;">МНЕ</span>
   </h1>
   <div class="about-me">
      <img src="./img/teta.svg" alt="">
      <div class="about-me__content">
         <h2> Хомяк Хомяков Артёмович</h2>
         <p>Привет! Меня зовут Хомяк Хомяков Артёмович, и я эксперт в сфере жратвы и помощи людям пожрать. Я обладаю
            глубокими знаниями и опытом в этой области, и моя цель - помочь людям осуществить успешные сделки с кафе и
            магазинами.
            <span style="font-size: 32px; text-shadow: 20px;"><p></p>Эксперт в сфере доширака</span></p>
      </div>
   </div>
</section>

{% endblock %}