{% extends 'appPages/base.html' %}

{% block title %}Главная страница{% endblock %}
{% block content %}
{% include 'appPages/banner.html' %}
<section class="container">
   <h1 class="container-title">ОБО
      <span style="color: blue;">МНЕ</span>
   </h1>
   <div class="about-me">
      <img src="{{about_me.photo.url}}" alt="">
      <div class="about-me__content">
         <h2> {{about_me.fio}}</h2>
         <p>{{about_me.desc}}
            <span style="font-size: 32px; text-shadow: 20px;"><p></p>{{about_me.expert}}</span></p>
      </div>
   </div>
</section>

<div class="queryset">
   {% for i in documents %}
   <a href="{{i.file.url}}" target="_blank">{{i.title}}</a>
   <h2>------</h2>

   {% endfor %}
</div>


{% endblock %}

